@media only screen and (max-width: 600px) {
    .container {
      max-width: 80%;
      margin: 50px auto;
      padding: 10px;
    }
    
    .question {
      max-width: 90%;
      margin: 10px auto;
      padding: 15px;
    }
  
    h1 {
      font-size: 24px;
    }
  
    h2 {
      font-size: 20px;
    }
  
    label, input, button {
      width: 100%;
      margin-bottom: 10px;
    }
  
    button {
      padding: 8px;
    }
  }
  

body {
    font-family: Arial, sans-serif;
    background: url('./images/cover.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    margin-top: 30px;
}




.container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
  
    background-color:  rgb(252, 212, 98) ;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.question  {
    max-width: 400px;
    margin: 10px auto;
    padding: 25px;
    background-color:  rgb(252, 212, 98) ;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #0B666A;
}
h2 {
    color: #0B666A;
}

.cor {
    color: #0B666A;
}
.cor1 {
    color:#fff
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #0B666A;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#result {
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
}

.clear-button {
    margin-right: 10px; 
}

@media only screen and (max-width: 600px) {
    .container {
        padding: 10px;
    }
    label, input {
        display: block;
        width: 100%;
    }
    button {
        width: 100%;
    }
    #question1, #question2, #question3, #question4 {
        font-size: 1.5rem;
    }
}

/* CSS styles here */
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

label, input, button {
    display: block;
    margin-bottom: 10px;
    width: 100%;
}

#result {
    font-weight: bold;
    margin-top: 10px;
}

h2 {
    cursor: pointer;
}

/* styles.css */
.swal2-popup {
    font-size: 16px;
    color: #333;
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .swal2-title {
    font-size: 24px;
    color:  #0B666A;
    margin-bottom: 10px;
  }
  
  .swal2-content {
    margin-bottom: 20px;
  }
  
  .swal2-actions {
    display: flex;
    justify-content: center;
  }
  
  .swal2-confirm {
    background-color:  #0B666A;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .swal2-confirm:hover {
    background-color:  #0B666A;
  }
  

  /* styles.css */

/* Estilos para telas de dispositivos móveis */

/* styles.css */

footer {
    
    color: black;
    text-align: center;
    padding: 10px;
    text-shadow: 0 0 10px rgba(11, 102, 106, 0.8); /* Efeito neon - ajuste o raio do blur conforme desejado */
    font-weight: bold; /* Texto em negrito */
  }
  
  footer p {
    margin: 0;
  }
  
  /* Estilo para o ícone */
  footer i {
    margin-right: 5px; /* Espaçamento entre o ícone e o texto */
    font-size: 18px; /* Tamanho do ícone */
  }
  